<div class="modal fade" id="agendaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Agenda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="modal-field">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Agenda</label>
                        <input type="text" class="form-control" id="agenda-field-0">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="add-field" class="btn btn-primary">Add Field</button>
                <button type="button" class="btn btn-success" id="add-agenda">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="speakerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Speaker</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="speakers-modal-field">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Speaker's Name</label>
                        <input type="text" class="form-control" id="speakers-field-0">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Speaker's Bio</label>
                        <div class="bio" contenteditable="true" id="speakers-bio-0"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="add-speakers-field" class="btn btn-primary">Add Field</button>
                <button type="button" class="btn btn-success" id="add-speakers">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="chatAgendaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Event Agenda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 {{#each agenda}}
                <li class="list-group-item d-flex justify-content-between align-items-center mb-3" id="agenda-item-{{_id}}">
                    <div class="{{state}}" id="toedit-{{_id}}" style="width:86%; padding:5px;">{{evt_agenda}}
                    </div>
                </li>
                {{/each}}
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="chatSpeakerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Event Speakers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 {{#each speaker}}
                <div class="card mb-1" id="speaker-item-{{_id}}">
                    <div class="card-header bg-light collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapse{{_id}}" aria-expanded="false"
                        aria-controls="collapseTwo">
                        <div class="mb-0 d-flex justify-content-between align-items-center">
                            <div id="speaker-toedit-{{_id}}">{{evt_speaker}}</div>
                        </div>
                    </div>
                    <div id="collapse{{_id}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body" id="speaker-bio-toedit-{{_id}}">
                            {{speaker_bio}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>