<div class="tab-pane fade" id="speakers" role="tabpanel" aria-labelledby="speakers-tab">
    <div id="accordion">
       
        {{#each speaker}}
       <div class="card mb-1" id="speaker-item-{{_id}}">
            <div class="card-header bg-light collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapse{{_id}}" aria-expanded="false" aria-controls="collapseTwo">
                <div  class="mb-0 d-flex justify-content-between align-items-center" >
                <div id="speaker-toedit-{{_id}}">{{evt_speaker}}</div>
               
                    <span>
                        <button class="btn d-none btn-light btn-sm" id="speaker-accept-{{_id}}" data-id="{{_id}}">
                            <i class="icon text-info fas fa-check fa-fw"></i>
                        </button>
                        <button class="btn btn-light btn-sm edit-speaker" {{button_state}} id="edit-agenda" data-id="{{_id}}">
                            <i class="icon text-info fas fa-pencil-alt fa-fw"></i>
                        </button>
                        <button class="btn btn-light btn-sm delete-speaker" id="delete-agenda" data-id="{{_id}}">
                            <i class="icon text-danger fas fa-trash-alt fa-fw"></i>
                        </button>
                    </span>
                 </div> 
            </div>
            <div id="collapse{{_id}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body" id="speaker-bio-toedit-{{_id}}">
                    {{speaker_bio}}
                </div>
            </div>
        </div>
    {{/each}}
    </div>
 
    <div class="row justify-content-center">
        <div class="" style="margin-top:10px">
            <button class="btn btn-lg btn-info" data-toggle="modal" data-target="#speakerModal">
                Add Speakers
            </button>
        </div>
    </div>
   
</div>