<div class="main-panel">
    {{> navbar}}

    <div class="content">
        <div class="row">
            <!--Card one-->

            {{#each events}}
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">{{evt_type}}</h5>
                        <h4 class="card-title">{{evt_name}}</h4>
                        <div class="dropdown">
                            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                                <i class="now-ui-icons  education_atom"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/events/{{evt_link}}">Go to Event</a>
                                <a class="dropdown-item" href="#">Edit Event</a>
                                <a class="dropdown-item share-link" href="/attend/{{evt_link}}" data-id="/attend/{{evt_link}}">Get shareable link</a>
                                <a class="dropdown-item text-danger remove-event" href="#" data-id="{{evt_link}}">Remove Event</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="description">
                            {{noti_msg}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="now-ui-icons arrows-1_refresh-69"></i> {{created_date}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>